extends layout

block content
    div.row.justify-content-center
      div
        h1 Administrador de Usuarios
        div#alert-info
          div.d-none.alert.alert-info.fade.show.flex-container(role=alert)
            span#info="custom message"
      table.col-10.table.table-striped.table-hover
        each item in users
          tr(user-id=item.id)
            td= item.lastname
            td= item.name
            td= item.profession
            td(id="email-"+item.id)= item.email
            td 
              a.d-inline-block.btn.btn-sm.btn-primary.view(href="javascript:void") Ver
              a.d-inline-block.btn.btn-sm.btn-primary.update(href="javascript:void") Editar
              a.d-inline-block.btn.btn-primary.btn-sm.delete(href="javascript:void" + item.id) Eliminar
  
